<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @treatment.body %>
</p>


<p>Subscribers:<%= @treatment.subscribers.count %>
</p>
<ul>
<% @treatment.subscribers.each do |subscriber| %>
<li>
<%= subscriber.name %>
</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
