<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @problem.user_id %>
</p>

<p>
  <b>Body:</b>
  <%= @problem.body %>
</p>

Solutions:
<%= render :partial => 'solutions/list_solutions_summary', :locals => { :solutions => @problem.solutions } %>
<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
