<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

Posted problems:
<%= render :partial => 'problems/list_problems_summary', :locals => { :problems => @user.problems } %>

Posted solutions:
<%= render :partial => 'solutions/list_solutions_summary', :locals => { :solutions => @user.solutions } %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
