<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

Answered questions:
<ul>
  <% @user.answers.each do |a| %>
		<li>Question: <%= a.question.body %> Answer: <%= a.body %></li>
   <% end %>
</ul>


Follow up questions:
<ul>
  <% @followup_questions.each do |q| %>
		<li>Question: <%= q.body %> <%= link_to 'Answer', new_answer_path %> </li>
   <% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
