<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @answer.user_id %>
</p>

<p>
  <b>Question:</b>
  <%= @answer.question_id %>
  <%= @answer.question.body %> 
</p>

<p>
  <b>Answer variant:</b>
  <%= @answer.answer_variant_id %>
</p>

<p>
  <b>Body:</b>
  <%= @answer.body %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
