<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @feedback.body %>
</p>

<p>
  <b>User:</b>
  <%= @feedback.user_id %>
</p>

<p>
  <b>Treatment:</b>
  <%= @feedback.treatment_id %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
