<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Answer:</b>
  <%= @review.answer_id %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
